*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
    padding:20px;
    line-height:7px;

}
.container{
max-width: 900px;
margin-bottom: 0auto;
background-color: aliceblue;
padding:30px;
align-items: baseline;


}
legend{
    padding: 0 10px;
    color:rgb(169, 103, 235);
    font-weight:normal;
    font-size: 20px;
    border-color: rgb(71, 8, 129);
}

tr{
    margin-bottom: 10px;
}

td{
    padding: 6px;
}


fieldset{
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(218, 218, 238);
}




label{
    font-weight:normal;
    font-size: 15px;
}

